body {
    background-color: #D5E1EF;
}
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}
.card {
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    max-width: 20%;
}
img {
    border-radius: 1rem;
    width: 100%;
}
h1 {
    color: black;
    font-size: 1.3rem;
}
.cardText {
    color: #68778D;
    text-align: center;
    margin: 1.2rem;
    font-size: 15px;
    font-family: 'Outfit';
}
@media (max-width: 1200px) {
    .card {
        min-width: 40%;
    }
}
@media (max-width: 800px) {
    .card {
        min-width: 80%;
    }
}